flask
flask-socketio
python-socketio
gunicorn
gevent
gevent-websocket
Flask-SQLAlchemy
Flask-Migrate
Flask-Bcrypt
Flask-JWT-Extended
Flask-Mail
itsdangerous
psycopg2-binary
google-genai
google-generativeai
Pillow